#col p{
	padding:20px 20px;
	font-weight:bold;
	font-size:18px;
	
}
#col2{
	padding:20px 20px;
	display:flex;
	justify-content:center;
	background-color:rgba(0, 0, 0, 0.3);
	font-weight:bold;
}
.r1,
.r2,
.r3{
	width:30%
}

#col3{
	padding:20px 20px;
	display:flex;
	justify-content:center;
	font-weight:bold;
}
.r4{
	width:70%
}

.r5{
	width:30%
}