.dicon{
  height: 25px;
  width: 25px;
  margin-top:9px;
  transition: height 0.4s;
}

.bicon{
  height: 25px;
  width: 25px;
  margin-top:9px;
  margin-left:9px;
  padding: 0px 2px;
  transition: height 0.4s;
}
