#landsbody{
	display:flex;
	justify-content:space-between;
	width:100%;
}
.c1{
	width:60%;
	padding:10px 10px;
}
.c2{
	width:40%;
	padding:10px 10px;
	
}

#Lccard{
  width: 100%;
  display: flex;  
  justify-content:space-between;
  overflow: hidden; 
  
}

.Lcard{
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 100px;
  grid-template-areas: "image" "text" "stats";
  font-family: roboto;
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  text-align: center;
  margin:30px 30px;
  
}

.Lcard-image,
.Lcard-image1,
.Lcard-image2,
.Lcard-image3,
.Lcard-image4,
.Lcard-image5{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background-size: cover;

}

.Lcard-image{
  background: url("../Images/1.jpg");
  
}

.Lcard-image1{
  background: url("../Images/2.jpg");

}

.Lcard-image2{
  background: url("../Images/3.jpg");

}

.Lcard-image3{
  background: url("../Images/7.jpg");

  
}

.Lcard-image4{
  background: url("../Images/10.jpg");

  
}

.Lcard-image5{
  background: url("../Images/12.jpg");

  
}

.Lcard-text{
  grid-area: text;
  margin:25px;
}

.Lcard-stats{
  grid-area: stats;
}